.con{
  width: 400px;  /* 원하는 값을 입력해주세요 */
  height: 400px;
  margin: 0 auto;

}
.album{
  width: 400px;  /* 원하는 값을 입력해주세요 */
  height: 400px; /* 원하는 값을 입력해주세요 */
  overflow: hidden;
}
.images{
  position: relative;
  display: flex;
  height: 400px;  /* 원하는 값을 입력해주세요 */
}
img{
  width: 400px;  /* 원하는 값을 입력해주세요 */
  height: 400px; /* 원하는 값을 입력해주세요 */
}
button, button:active, button:focus{
}
button:disabled{
}
.prev{
  float: left;
}
.next{
  float: right;
}
