<style>
  @import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
</style>

* {
	font-family: 'Nanum Myeongjo', serif;
	font-family: 'Noto Serif JP', serif;
}

.select {
	padding: 15px 10px;
}

.select input[type=radio] {
	display: none;
}

.select input[type=radio], label {
	display: inline-block;
	cursor: pointer;
	height: 24px;
	width: 90px;
	border: 1px solid #333;
	line-height: 24px;
	text-align: center;
	font-weight: bold;
	font-size: 13px;
}

.select input[type=radio], label {
	background-color: #fff;
	color: #333;
}

.select input[type=radio]:checked+label {
	background-color: #333;
	color: #fff;
}